.feed-infinite-wrapper {
    position: relative;
}

.single-mode {
    overflow: hidden;
    height: 123px;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    
}

.image-box {
    float: left;
    width: 158px;
    height: 102px;
    margin-right: 16px;
}

.img-wrap {
    display: inline-block;
    height: 100%;
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    overflow: hidden;
    transform-style: preserve-3d;
}

.img-wrap>img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: all .5s ease-out .1s;
}

.content-box {
    display: flex;
    align-items: center;
    height: 100%;
}

.content-title {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 4px;
    font-weight: 700;
    max-height: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    color: #222;
}

.content-footer {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

.content-footer-left {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 20px;
}

.footer-bar-action {
    font-size: 14px;
    line-height: 1;
}

.content-footer-left,
.footer-bar-action {
    display: inline-block;
    vertical-align: middle;
}

.footer-bar-action.tag {
    font-size: 12px;
    color: #eee;
    margin-right: 10px;
    padding: 1px 2px;
    border: 1px solid #eee;
}

.tag-style-video {
    border-color: #ff7920!important;
    color: #ff7920!important;
}

.footer-bar-action.media-avatar {
    color: #fff;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    background-color: #eee;
    overflow: hidden;
}

.footer-bar-action.media-avatar>img {
    width: 100%;
    height: 100%;
}

.footer-bar-action.source {
    color: #777;
    font-size: 14px;
}

.content-footer-right {
    float: right;
}

.action-dislike {
    position: relative;
    color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 8px;
    transition: width .3s ease;
    white-space: nowrap;
    z-index: 2;
}

.action-dislike>i {
    font-size: 16px;
    color: rgb(221, 221, 221);
    position: absolute;
    top: 2px;
    right: 0;
}

.icon-close {
    font-family: tticons!important;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


